<div class="modal-dialog" role="document">
	<div class="modal-content">

		<header class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-xs btn-danger pull-left' if is_admin? %>
			<h4 class="modal-title text-center" id="defaultModalLabel">
				<%= @service.name %>
			</h4>
		</header>

		<h1 class="modal-service-price">
			<small><em>Starting At</em></small><br>
			<%= number_to_currency @service.price %>
		</h1>

		<div class="modal-body">
			<p id="notice"><%= notice %></p>

			<%= content_tag :p, sanitize(@service.description), class: :lead if @service.description.present? %>

			<ul>
				<% @service.items.each do |item| %>
				<li>
					<%= item.description %>
				</li>
				<% end %>
			</ul>
		</div>

		<%= render 'requests/form' %>

	</div>
</div>
