<% @no_container = true %>

<div id="jumbo-main" class="">
	<div class="embed-responsive-jumbo">
		<div class="container">
			<div class="jumbotron">

				<h2 class="">
					AutoPros Mobile Detailing Tampa, Brandon, Lakeland – When you need your car detailed right...
				</h2>

				<%= link_to 'Call the AutoPros', new_request_path, class: 'btn btn-lg btn-info', data: { toggle: :modal, target: '#defaultModal' } %>

			</div>
		</div>
		<div id="jumboFade"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-push-4">

			<%= content_tag :p, link_to('Edit Page', [:edit, @page]), class: 'text-right' if @page.present? && is_admin? %>

			<div class="lead">
				<%= sanitize @page.heading if @page.present? %>
			</div>

			<%= @page.content.html_safe if @page.present? %>

		</div>
		<div class="col-sm-4 col-sm-pull-8">

			<div class="panel panel-default">
				<ul class="list-group">
					<%= render @faqs %>
				</ul>
				<footer class="panel-footer text-center small">
					<%= link_to 'More FAQs', faqs_path %>
				</footer>
			</div>

			<p>
				<%= image_tag 'truck.jpg', class: 'img-responsive img-thumbnail center-block' %>
			</p>
			<p>
				<%= image_tag 'ida.png', class: 'img-responsive center-block' %>
			</p>

		</div>
	</div>
</div>
