<ul class="list-inline pull-right">
	<%= content_tag :li, link_to('New Nav item', new_nav_item_path) if is_admin? %>
</ul>
<header class="page-header">
	<h1 class="text-center">
		Nav Items
	</h1>
</header>

<p id="notice"><%= notice %></p>

<table class="table">
	<thead>
		<tr>
			<th>Sort</th>
			<th>Text</th>
			<th>Href</th>
			<th>Page</th>
			<th>Blank target</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody id="nav_items" data-sort-path="<%= sort_nav_items_path %>" >
		<% @nav_items.each do |nav_item| %>

		<%= content_tag_for :tr, nav_item do %>
		<td><i class="fa fa-fw fa-bars handle"></i></td>
		<td><%= nav_item.text %></td>
		<td><%= link_to nav_item.href, nav_item.href %></td>
		<td><%= link_to nav_item.page.title, nav_item.page if nav_item.page.present? %></td>
		<td><%= nav_item.blank_target %></td>
		<td><%= link_to 'Edit', edit_nav_item_path(nav_item) %></td>
		<td><%= link_to 'Destroy', nav_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>

		<% end %>
	</tbody>
</table>
