<header class="page-header">
	<%= link_to 'New Item', new_portfolio_item_path, class: 'pull-right' if is_admin? %>
	<h1 class="text-center">Portfolio</h1>
</header>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-8 col-md-9">

		<div class="row">
			<%= render @portfolio_items %>
		</div>

	</div>
	<div class="col-sm-4 col-md-3">

		<div class="panel panel-default">

			<%= link_to '<i class="fa fa-fw fa-pencil"></i>'.html_safe, portfolio_categories_path, class: 'btn btn-info btn-sm pull-right' %>
			<header class="panel-heading">
				<h4 class="panel-title text-center">Categories</h4>
			</header>

			<ul class="list-group">
				<%= render Portfolio::Category.all %>
			</ul>

		</div>

	</div>
</div>
