<%= form_for(@portfolio_category) do |f| %>
  <% if @portfolio_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_category.errors.count, "error") %> prohibited this portfolio_category from being saved:</h2>

      <ul>
      <% @portfolio_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
